.breadcrumb {
    --s: 20px; /* control the shape */

    line-height: 1.8; /* control the height */
    padding-inline: calc(var(--s) + .3em);
    clip-path: polygon(0 0,calc(100% - var(--s)) 0,100% 50%,calc(100% - var(--s)) 100%,0 100%,var(--s) 50%);
    background: #CC333F;
    width: fit-content;
    margin-left: 20px;
  }
  @media screen and (min-width:1024px){
    .breadcrumb{
    font-size: 40px !important;
    }
  }
  .zoom-container {
    /* width: 500px; */
    height: 400px;
    overflow: hidden; /* prevents zoomed image from overflowing */
    /* border: 2px solid #ccc; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .stylephotocontent{
    font-size: 18px;
  }
  .stylephotocontent > span{
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(360deg, rgb(149, 0, 255), rgb(255, 1, 136));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease;
  }
  
  .zoom-container:hover .zoom-image {
    transform: scale(1.2); /* zoom on hover */
  }
  .colimg1{
    background-image: url('./institutionlogo1.JPG');
  }
  .colimg2{
    background-image: url('./infracge2.JPG');
  }
  .colimg3{
    background-image: url('./cgeground.JPG');
  }
  .colimg4{
    background-image: url('./infrcge1.JPG');
  }
  .colimg5{
    background-image: url('./cgeshot5.png');
  }