.hero-experience{
margin-top:10px;
}

.summit-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
align-items:flex-start;
}

.summit-col{
background:#1f1f1f;
padding:6px;
border-radius:12px;
backdrop-filter:blur(10px);
height: 170px;
margin-bottom: 10px;
overflow-y: auto;
}
.setcolor{
    color: black;
border:1px solid transparent;
border-radius:12px;

background:
linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)) padding-box,
linear-gradient(90deg,#A68426,#F7DF8A,#D2AC47,#EDC967) border-box;
} 

.hero-eligibility-title{
font-size:20px;
font-weight:600;
margin-bottom:15px;

}

.feature{
display:flex;
align-items:center;
gap:10px;
margin-bottom:6px;
font-size:15px;
}

.feature i{
width:20px;
height:20px;
color:#ffd166;
}

/* KEEP SIDE BY SIDE EVEN ON SMALL SCREENS */
@media(max-width:768px){

.summit-grid{
gap:20px;
}

.hero-eligibility-title{
font-size:18px;
color: black;
margin-bottom: 10px !important;
}

.feature{
font-size:14px;
}

}
/********Why Participate & Summit Experience**************************/
.media-partner-section{
background:#1f1f1f;
padding:10px 0;
}
.media-heading{
    margin-top: 10px;
    margin-bottom: 10px;
display:flex;
align-items:center;
justify-content:center;
gap:20px;
}

.media-icon{
width:60px;
height:auto;
border-radius: 10px;
}
.media-partners{
display:flex;
justify-content:center;
align-items:center;
/* gap:80px; */
flex-wrap:wrap;
margin-top:40px;
}
.sec-title{
    font-size: 18px;
    color: black;
}
.partner-logo{
    border-radius: 10px;
    text-align:center;
}
.partner-name{
font-size:14px;
font-weight:600;
color:#ffffff !important;
letter-spacing:0.5px;
margin-top: 8px;
}
.partner-logo img{
max-height:70px;
width:auto;
transition:all .3s ease;
opacity:.8;
border-radius: 10px;
}

.partner-logo img:hover{

opacity:1;
transform:scale(1.2);
}

/* Mobile */
@media(max-width:768px){

.media-partners{
gap:40px;
}

.partner-logo img{
max-height:55px;
}

} 
/************media partner*******************/
.centerbtn{
    display: flex;
    align-items: center;
    height: 50px;
}
.summit-benefits-roadmap{
/* padding:5px; */
color:white;
}

.br-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
align-items:start;
}
.benefits-side{
background:#1f1f1f;
border-radius: 10px;
padding: 6px;
height: 200px ;
}
/* headings */

.br-heading{
font-size:18px;
margin-bottom:10px;
color:#F7DF8A;
}

/* BENEFITS */

.benefit-item{
display:flex;
align-items:center;
gap:10px;
margin-bottom:6px;
font-size:15px;
}
.benefit-item span{
font-size: 12px;
}
.benefit-item svg{
width:20px;
height:20px;
color:#F7DF8A;
}


/* ROADMAP SIDE */

.roadmap-side{
height:200px;
overflow-y:auto;
padding-right:10px;
    color: black;
border:1px solid transparent;
border-radius:12px;

background:
linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)) padding-box,
linear-gradient(90deg,#A68426,#F7DF8A,#D2AC47,#EDC967) border-box;
}

.roadmap-vertical{
position:relative;
display:flex;
flex-direction:column;
gap:5px;
/* padding-left:35px; */
}

/* vertical connecting line */

.roadmap-vertical::before{
content:"";
position:absolute;
left:15px;
top:0;
width:2px;
height:100%;
background:rgba(255,255,255,0.2);
}

/* step layout */

.roadmap-v-step{
display:flex;
align-items:flex-start;
gap:12px;
position:relative;
margin-bottom: 6px;
}

/* icon */

.roadmap-v-icon{
width:12px;
height:12px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
color: var(--primary-color);

/* background:linear-gradient(
90deg,
#A68426,
#F7DF8A,
#D2AC47,
#EDC967
); */

color:#000;
position:relative;
z-index:2;
}

.roadmap-v-icon svg{
width:18px;
height:18px;
color: #F7DF8A;
}

.roadmap-v-step p{
font-size:12px;
margin:0;
}

.roadmap-v-step span{
font-size:12px;
color:#F7DF8A;
}

.summit-hero{
padding:5px;
/* background:linear-gradient(
rgba(0,0,0,0.75),
rgba(0,0,0,0.75)
), */
/* url("../bg.webp1"); */
background-size:cover;
background-position:center;
color:white;
}

.hero-grid{
max-width:1100px;
margin:auto;
}

/* PILL */

.hero-pill{
display:inline-flex;
align-items:center;
gap:8px;
padding:6px 16px;
border-radius:30px;

background:rgba(247,223,138,0.12);
border:1px solid rgba(247,223,138,0.45);

color:#F7DF8A;
font-size:14px;
font-weight:600;

backdrop-filter:blur(6px);

margin-bottom:20px;
}

.hero-pill .dot{
width:8px;
height:8px;
border-radius:50%;

background:linear-gradient(
90deg,
#A68426 0%,
#F7DF8A 35%,
#D2AC47 70%,
#EDC967 100%
);
}

/* TITLE */

.hero-title{
font-size:60px;
font-weight:800;
margin-bottom:10px;
color: #000;
/* background:linear-gradient(90deg,#A68426,#F7DF8A,#D2AC47,#EDC967); */
/* -webkit-background-clip:text;
-webkit-text-fill-color:transparent; */
}

.hero-title span{
/* background:linear-gradient(90deg,#A68426,#F7DF8A,#D2AC47,#EDC967);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent; */
}

.hero-sub{
font-size:15px;
color:white;
margin-bottom:10px;
}

/* META INFO */

.hero-meta{
display:flex;

gap:15px;
font-weight: bolder;
margin-bottom:5px;
flex-wrap: nowrap;
}

.meta-item{
display:flex;
align-items:center;
gap:2px;
font-weight:600;
color:BLACK;
}


.meta-item svg{
width:18px;
height:18px;
color:black;
}

/* FEATURES */

.hero-features{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom: 3px;
}

.feature{
display:flex;
align-items:center;
gap:8px;
color:black;
/* font-weight: bolder; */
}

.feature svg{
width:18px;
height:18px;
color:#F7DF8A;
}

/* EXPERIENCE BOX */

/* .hero-experience{
background:rgba(255,255,255,0.08);
padding:20px;
border-radius:10px;
margin-bottom:25px;
} */

.hero-experience h4{
margin-bottom:10px;
font-weight:700;
}

/* DEADLINE */

.submission span{
color:#F7DF8A;
font-weight:700;
}

/* BUTTONS */

.hero-buttons{
display:flex;
justify-content: center;
gap:15px;
margin-top:20px;
margin-bottom: 10px;
text-align: center;
}

.btn-primary{
background:linear-gradient(90deg,#A68426,#F7DF8A,#D2AC47,#EDC967);
color:#000;
padding:12px 28px;
border-radius:30px;
font-weight:700;
text-decoration:none;
}

.btn-secondary{
border:1px solid white;
padding:12px 28px;
border-radius:30px;
color:white;
text-decoration:none;
}
.summit-header{
padding:5px 0;
background:#fff;
}

.summit-header-row{
display:flex;
align-items:center;
justify-content:center;
gap:10px;
}

/* logos */
.header-logo{
    /* border-radius: 10px; */
    background-color: white;
}
.header-logo img{
height:90px;
width:auto;
}
.bgcontact{
    text-align: center;
    background:linear-gradient(90deg,#A68426,#F7DF8A,#D2AC47,#EDC967);
color:#000;
font-size: 18px;

}
.bgcontact p{
    margin-bottom: 0;
}
@media(max-width:768px){
.bgcontact p{
    font-size: 13px;
}
.header-logo img{
height:70px;
}


}
/* MOBILE */
.msiic-full{
    margin-top: 18px;
}
@media(max-width:768px){
.msiic-full{
    font-size: 13px !important;
}
.hero-title{
font-size:26px;
}

.hero-meta{
gap:6px;
}

.hero-buttons{
flex-direction:column;
}
.summit-hero{
    padding: 5px !important;
}
.feature{
    font-size: 12px !important;
}
.meta-item span{
    font-size: 12px;
}
}
.summit-roadmap{
background:#1f1f1f;
padding:120px 20px;
color:white;
}

.roadmap-title{
text-align:center;
font-size:20px;
margin-bottom:18px;
}

.roadmap{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:40px;
position:relative;
}

/* TIMELINE LINE */

.roadmap::before{
content:"";
position:absolute;
top:35px;
left:0;
width:100%;
height:2px;
background:rgba(255,255,255,0.15);
}

/* STEP */

.roadmap-step{
text-align:center;
position:relative;
z-index:2;
}

/* ICON */

.roadmap-icon{
width:50px;
height:50px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
margin-bottom:18px;

background:linear-gradient(
90deg,
#A68426 0%,
#F7DF8A 35%,
#D2AC47 70%,
#EDC967 100%
);

color:#000;
}

.roadmap-icon svg{
width:28px;
height:28px;
}

/* TEXT */

.roadmap-step h4{
font-size:18px;
margin-bottom:6px;
}

.roadmap-date{
font-size:14px;
color:#F7DF8A;
font-weight:600;
}

/* MOBILE */

@media(max-width:900px){

.summit-roadmap{
padding-top:10px;
}

/* SCROLLABLE ROADMAP */

.roadmap{
display:flex;
overflow-x:auto;
gap:15px;
padding-bottom:25px;
scroll-snap-type:x mandatory;
position:relative;
}

/* scrollbar */

.roadmap::-webkit-scrollbar{
height:6px;
}

.roadmap::-webkit-scrollbar-thumb{
background:#D2AC47;
border-radius:10px;
}

/* TIMELINE LINE */

.roadmap::before{
content:"";
position:absolute;
top:25px;
left:0;
height:2px;
width:300%;
background:rgba(255,255,255,0.15);
}

/* STEP */

.roadmap-step{
min-width:120px;
flex:0 0 auto;
text-align:center;
scroll-snap-align:center;
}

/* TEXT */

.roadmap-step h4{
font-size:14px;
}

}
.summit-tabs{
background:#1f1f1f;
/* padding:120px 20px; */
color:white;
}

.tabs-title{
text-align:center;
color: #F7DF8A;
font-size:25px;
padding-top:20px;
margin-bottom:20px;
}

/* TAB BUTTONS */

.tabs{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-bottom:40px;
}

.tab-btn{
padding:10px 20px;
border-radius:30px;
border:1px solid rgba(255,255,255,0.2);
background:transparent;
color:white;
cursor:pointer;
font-weight:600;
transition:0.3s;
}

.tab-btn.active{
background:linear-gradient(
90deg,
#A68426 0%,
#F7DF8A 35%,
#D2AC47 70%,
#EDC967 100%
);
color:#000;
}

/* CONTENT */

.tab-content{
display:none;
max-width:800px;
margin:auto;
text-align:center;
}

.tab-content.active{
display:block;
}

.tab-content ul{
list-style:none;
padding:0;
margin:20px 0;
}

.tab-content li{
margin-bottom:8px;
color:#ddd;
}

.apply-section{
max-width:700px;
margin:auto;
text-align:center;
color:#eee;
}

.apply-title{
font-size:24px;
color: #F7DF8A;
font-weight:700;
margin-bottom:20px;
}

.apply-intro{
font-size:18px;
line-height:1.7;
margin-bottom:20px;
}

.apply-sub{
font-size:17px;
margin-bottom:30px;
opacity:0.9;
}

.apply-list{
list-style:none;
padding:0;
margin:0 0 35px 0;
}

.apply-list li{
display:flex;
align-items:center;
gap:12px;
justify-content:center;
margin-bottom:14px;
font-size:17px;
background:rgba(255,215,0,0.08);
border:1px solid rgba(255,215,0,0.25);
padding:12px 18px;
border-radius:8px;
}

.icon{
font-size:20px;
}

.apply-highlight{
background:linear-gradient(
90deg,
#A68426 0%,
#F7DF8A 35%,
#D2AC47 70%,
#EDC967 100%
);
color:#111;
padding:18px 24px;
border-radius:10px;
font-size:18px;
font-weight:500;
margin-top:20px;
}
.benefits-section{
max-width:900px;
margin:auto;
text-align:center;
color:#eee;
}

.benefits-title{
font-size:36px;
margin-bottom:40px;
}

.benefits-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:24px;
}

.benefit-card{
background:#111;
padding:26px;
border-radius:10px;
border-top:3px solid gold;
transition:0.3s;
}

.benefit-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(255,215,0,0.2);
}

.benefit-icon{
font-size:28px;
margin-bottom:12px;
}

.benefit-card h4{
font-size:20px;
margin-bottom:10px;
color:#fff;
}

.benefit-card p{
font-size:15px;
opacity:0.9;
}

.benefit-card ul{
margin-top:10px;
padding-left:18px;
text-align:left;
}

.benefit-card ul li{
margin-bottom:6px;
}

.large-card{
grid-column:span 2;
}
/* Tablet */
@media (max-width: 900px){

.benefits-grid{
grid-template-columns:1fr 1fr;
gap:18px;
}

.large-card{
grid-column:span 2;
}

}

/* Mobile */
@media (max-width: 600px){

.benefits-grid{
grid-template-columns:1fr;
gap:16px;
}

.large-card{
grid-column:span 1;
}

.benefit-card{
padding:20px;
}

.benefit-icon{
font-size:24px;
}

.benefit-card h4{
font-size:18px;
}

.benefit-card p{
font-size:14px;
}

.benefit-card ul{
padding-left:16px;
}

.benefit-card ul li{
font-size:14px;
}

.benefits-title{
font-size:28px;
}

}
.different-section{
max-width:720px;
margin:auto;
text-align:center;
color:#eee;
padding-bottom: 20px;
}

.different-title{
font-size:36px;
margin-bottom:25px;
}

.different-intro p{
font-size:18px;
line-height:1.7;
margin-bottom:12px;
}

.different-focus{
margin:35px 0;
padding:25px;
border-top:2px solid gold;
border-bottom:2px solid gold;
}

.different-focus h4{
margin-bottom:20px;
font-size:20px;
color:gold;
}

.different-focus ul{
list-style:none;
padding:0;
}

.different-focus li{
margin-bottom:10px;
font-size:16px;
position:relative;
padding-left:22px;
text-align:left;
}

.different-focus li::before{
content:"✓";
position:absolute;
left:0;
color:gold;
font-weight:bold;
}

.different-closing{
margin-top:25px;
}

.founder-line{
font-size:18px;
color:gold;
margin-top:10px;
}
@media (max-width:600px){
    .hero-meta{
        justify-content: space-around;
    }

.different-title{
font-size:28px;
}

.different-intro p{
font-size:16px;
}

.different-focus{
padding:20px;
}

.different-focus li{
font-size:15px;
}

.founder-line{
font-size:16px;
}

}
.criteria-section{
max-width:1000px;
margin:auto;
text-align:center;
padding:40px 20px;

}

.criteria-title{
font-size:36px;
margin-bottom:40px;
color:black;
}

.criteria-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
gap:20px;
}

.criteria-card{
background:linear-gradient(
90deg,
#A68426 0%,
#F7DF8A 35%,
#D2AC47 70%,
#EDC967 100%
);
color:#111;
padding:26px 20px;
border-radius:10px;
transition:all 0.3s ease;
cursor:pointer;
position:relative;
overflow:hidden;
}

.criteria-icon{
margin-bottom:12px;
}

.criteria-icon svg{
width:37px;
height:37px;
stroke:#111;
font-weight: bolder;
}

.criteria-card h4{
font-size:18px;
margin-bottom:8px;
}

.criteria-card p{
font-size:14px;
}

/* Hover */

.criteria-card:hover{
transform:translateY(-6px) scale(1.03);
box-shadow:0 12px 30px rgba(255,215,0,0.45);
background:linear-gradient(135deg,#ffe97a,#ffcc00);
}

/* Shine effect */

.criteria-card::after{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:linear-gradient(
120deg,
transparent,
rgba(255,255,255,0.4),
transparent
);
transition:0.6s;
}

.criteria-card:hover::after{
left:100%;
}
@media (max-width:600px){

.criteria-title{
font-size:28px;
}

.criteria-card{
padding:20px;
}

.criteria-icon svg{
width: 30px;
height:30px;
}

.criteria-card h4{
font-size:16px;
}

.criteria-card p{
font-size:13px;
}

}
.cta-section{
text-align:center;
max-width:700px;
margin:80px auto;
padding:40px 30px;
background:linear-gradient(135deg,#111,#1a1a1a);
border:1px solid rgba(255,215,0,0.3);
border-radius:12px;
background-image: url("../registerbg.webp");
}

.cta-section h3{
font-size:36px;
margin-bottom:15px;
color:#000000;
text-shadow:
0 0 5px rgba(255,215,0,0.6),
0 0 10px rgba(255,215,0,0.6),
0 0 20px rgba(255,215,0,0.5),
0 0 40px rgba(255,215,0,0.4);
}

.cta-section p{
font-size:18px;
line-height:1.6;
margin-bottom:30px;
color: #ffffff !important;
font-weight: bolder;
text-shadow:
0 0 4px rgba(255,215,0,0.35),
0 0 8px rgba(255,215,0,0.25);
}

/* Button */

.cta-btn{
display:inline-block;
padding:14px 34px;
font-size:16px;
font-weight:600;
text-decoration:none;
color:#111;
background:linear-gradient(135deg,#ffd700,#ffb800);
border-radius:40px;
transition:all 0.3s ease;
}

/* Hover effect */

.cta-btn:hover{
transform:translateY(-3px) scale(1.05);
box-shadow:0 10px 25px rgba(255,215,0,0.45);
background:linear-gradient(135deg,#ffe97a,#ffcc00);
}
@media (max-width:600px){

.cta-section{
padding:30px 20px;
}

.cta-section h3{
font-size:26px;
}

.cta-section p{
font-size:16px;

}

.cta-btn{
padding:12px 26px;
font-size:15px;
}

}